.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 10px;
    padding: 20px 0px;
    background: #fff;
    &_absolute {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        right: 0;
        background: transparent;
    }
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: rgb(83, 167, 245) !important;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
